
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0;
	text-align: center; }

.grid-col-1of10 {
	width: 10%;
}

.grid-row::after {
	display: block;
	clear: both;
}


@media (max-width: 70em) {

	.grid-col-1of10 {
		width: 100%;
	}

}
